.container {
    text-align: center;
}

.title {
    text-align: right;
}

@media (max-width: 768px) {
    .container {
        border-right: none;
    }

    .title {
        text-align: center;
        word-wrap: normal;
    }
}
