.container {
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    background-color: salmon;
    color: #222;
    scale: 0.9;
    transition: all 0.2s ease-in-out;
}

.container:hover {
    color: #000;
    scale: 1;
}